
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
ENV/
db.sqlite
/media/
*.log
.vscode/
.idea/

# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# Database
db.sqlite3

# Environment variables
.env

# Django static & media
/static
/media

